.main-container {
	flex: 1;
	width: 85%;
	font-family: Source Sans Pro, sans-serif;
	margin: 0 auto;
	text-align: left;
}

.main-container .Posts {
	width: 100%;
}

.main-container .Posts table {
	width: 100%;
}

.main-container .posts-header {
	display: flex;
	justify-content: space-between;
}

.Posts tr {
	height: 2.6em;
	border-bottom: 1px solid #eee;
}

.Action-button {
	height: 2em;
	text-decoration: none;
	margin-top: 0.5em;
  font-weight: bold;
  padding: 0.4em;
  padding-bottom: 0.4em;
  border: none;
  border-bottom: 3px solid #222;
  color: white;
  border-radius: 5px;
}

.Action-button.edit {
	background-color: #0AA9E2;
  border-color: #0061CF;
}

.Action-button.delete {
	background-color: #F05252;
  border-color: #CB0000;
}

.Action-button.add {
	background-color: #07BA01;
  border-color: #089915;

	padding-left: 0.8em;
	padding-right: 0.8em;
  padding-top: 0.6em;
  padding-bottom: 0em;
}