.main-container {
	flex: 1;
	width: 70%;
	margin: 0 auto;
	font-family: Source Sans Pro, sans-serif;
	text-align: center;
}

.field textarea {
	font-size: 1.1em;
}

.fields-group {
	display: flex;
	justify-content: space-between;
}

.fields-group .field {
	flex: 1;
	margin: 0 2em;
}


/*Inside a group of fields,
first and last items should
not have left and right margin,
respectively.*/

.fields-group .field:first-child {
	margin-left: 0;
}

.fields-group .field:last-child {
	margin-right: 0;
}

.field.body textarea {
	height: 14em;
}