.main-footer {
  padding-top: 3em;
  font-family: Source Serif Pro, serif;
  font-style: italic;
  text-align: center;
  margin-top: 3em;
  height: 10em;
  background-color: #eee;
  border-top: 1px solid #ccc;
}
