.outter-container {
  width: 70%;
  margin: 0 auto;
  font-family: Source Sans Pro, sans-serif;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 800px) {
  .outter-container {
    width: 30em;
  }
}

.outter-container form {
  width: 100%;
  margin-top: 1em;
}

.field {
	width: 100%;
	margin-bottom: 1em;
}

.field::before {
  display: inline-block;
  content: '*';
  color: red;
  position: absolute;
  font-size: 1.6em;
}

.field input, .field textarea {
	font-size: 1.5em;
	outline: none;
	width: 100%;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.field input:focus, .field textarea {
  border-bottom: solid 2px #969696;
}

.submit-button {
	margin: 0 auto;
	margin-top: 0.5em;
  font-weight: bold;
  padding: 0.8em;
  padding-bottom: 0.6em;
  background-color: #444;
  border: none;
  border-bottom: 3px solid #222;
  color: white;
  border-radius: 5px;
}

.field.error input, .field.error textarea {
  border-color: red;
}

.field.ok input, .field.ok textarea {
  border-color: green;
}

.field .errors {
  padding-left: 0;
  margin-top: 0.2em;
}

.field .errors li {
  text-align: left;
  list-style-type: none;
  color: red;
}
