.main-header {
  font-family: Source Sans pro, sans-serif;
  display: flex;
  padding-left: 2.5em;
  padding-right: 2.5em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.main-header .title {
  font-family: Raleway, sans-serif;
  color: #444;
  font-weight: 600;
  text-decoration: none;
}

.main-header .auth-buttons a {
  margin-left: 1em;
  border: 1px solid #aaa;
border-radius: 4em;
padding: 0.5em 1em;
color: #777;
text-decoration: none;
}

.main-header .auth-buttons span {
  color: #777;
}
