.top-navigation {
  font-family: Source Sans Pro, sans-serif;
  padding-left: 2.5em;
  padding-right: 2.5em;
  display: flex;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}
PostItem
.top-navigation ul {
  height: 100%;
  margin: 0;
  display: flex;
}

.top-navigation li {
  display: inline;
  align-self: stretch;
  padding: 1em;
  color: #eee;
  border-right: 2px solid #222;
}

.top-navigation li:hover {
  background-color: #222;
}

.top-navigation li.active {
  border-bottom: 5px solid #eee;
}

.top-navigation li a {
  color: #eee;
  text-decoration: none;
}

.top-navigation .search {
  height: 2em;
  color: white;
  background-color: #444;
  border: none;
  border-radius: 1em;
  padding-left: 1em;
  outline: none;
  width: 8em;
  transition: width 0.3s ease;
}

.top-navigation .search:focus {
  width: 12em;
}

.posts-list-header {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 300;
  font-size: 3em;
  padding-bottom: 0.2em;
  border-bottom: 2px solid #555;
}

.no-results-notice {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
}

.Posts-list {
  width: 90%;
  margin: 0 auto;
  flex: 1;
}

@media (min-width: 768px) {
  .Posts-list {
    width: 70%;
  }
}

.PostItem {
  border-bottom: 1px solid #ccc;
  margin-top: 2em;
}

.PostItem-readmorelink {
  font-family: Source Sans Pro;
  color: #777;
}

.PostItem-readmorelink:visited {
  color: purple;
}

.PostItem-details-wrapper {
  margin-top: 1em;
  display: flex;
  align-items: stretch;
}

.PostItem-image {
  flex: 1;
  height: 10em;
  background-size: cover;
  margin-right: 1.4em;
}

.PostItem-details {
  flex: 2;
}

.PostItem-title {
  font-family: Roboto Condensed;
  color: #444;
  text-decoration: none;
}

.PostItem-title h2, p {
  margin: 0;
}

.PostItem-shortdesc {
  font-family: Alegreya;
  font-size: 1.3em;
}

.PostItem-meta {
  margin-top: 0.8em;
  font-family: Source Sans Pro, sans-serif;
  color: #aaa;
  margin-bottom: 0.2em;
}
