.pagination {
  width: 90%;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .pagination {
    width: 70%;
  }
}

.pagination a {
  text-decoration: none;
  color: #555;
  border: 1px solid #555;
  padding: 0.5em 1em;
  border-radius: 2em;
}

.pagination .page-number {
  font-family: Source Sans Pro, sans-serif;
  color: #444;
}
