.PostPage {
  width: 90%;
  margin: auto;
}
@media (min-width: 768px) {
  .PostPage {
    width: 70%;
  }
}
.PostPage-meta {
  font-family: Source Sans Pro, sans-serif;
  color: #999;
  margin-top: 2em;
}
.PostPage-title {
  font-family: Source Sans Pro, sans-serif;
  font-size: 2.4em;
  margin: 0;
  margin-bottom: 0.6em;
  color: #222;
}
.PostPage-image {
  width: 100%;
  height: 300px;
  background-size: cover;
}
.PostPage-body {
  margin-top: 2em;
  font-family: Source Serif Pro, serif;
}
@media (min-width: 1200px) {
  .PostPage-body {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
  }
}
.PostPage-body p {
  font-size: 1.2em;
  line-height: 1.7em;
}
.PostPage-body blockquote {
  font-style: italic;
  font-size: 1.2em;
  margin-left: 0;
  padding-left: 2em;
  border-left: 10px solid #eee;
}
.PostPage-body h1, h2, h3, h4, h5, h6 {
  font-family: Source Sans Pro, sans-serif;
}
.PostPage-body a {
  color: #777;
}

.PostPage-body img {
  width: 100%;
}
.PostPage-body pre {
  background-color: #111;
  color: white;
  font-size: 0.9em;
  padding: 1em;
  border-radius: 5px;
}
.PostPage-comments {
  margin: 0 auto;
  width: 90%;
  max-width: 50em;
}
.PostPage-comments-newcomment {
  width: 100%;
  border-bottom: 4px solid #999;
  padding-bottom: 2em;
}
.PostPage-comments-newcomment textarea {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  height: 6em;
  font-size: 1.2em;
  font-family: Source Sans Pro;
  padding: 1em;
}

.PostPage-comments-newcomment button {
  margin-top: 0.5em;
  font-weight: bold;
  padding: 0.8em;
  padding-bottom: 0.6em;
  background-color: #444;
  border: none;
  border-bottom: 3px solid #222;
  color: white;
  border-radius: 5px;
}

.Comment {
  border-bottom: 1px solid #bbb;
  margin-top: 1em;
  font-family: Source Sans Pro;
}

.Comment-author {
  font-weight: bold;
}

.Comment-date {
  font-style: italic;
}

.Comment-content {
  font-weight: 300;
}

.Comment-content p {
  margin-top: 0.1em;
}

.back-to-top-button {
  text-align: center;
  margin-top: 1em;
}

.back-to-top-button a {
  font-family: Source Sans Pro;
  color: #444;
}

.not-logged-notice {
  font-family: Source Sans Pro, sans-serif;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 1em;
  font-size: 1.2em;
  margin: 2em 0;
}

.not-logged-notice a {
  text-decoration: none;
  color: #777;
}

.Comment-delete a {
  color: #444;
}
